Write a function that calculates the dot product manually AND a function that calculates the cross product manually. Both should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.

In [18]:
import numpy as np
x = ([[1,2,3], [4,5,6], [1,2,3]])
y = ([[2,3,4], [5,6,7], [1,2,3]])
v1 = np.dot(x,y)
v1

array([[15, 21, 27],
       [39, 54, 69],
       [15, 21, 27]])

In [22]:
a=[2,6]
b=[3,7]
c=[]
def dot1 (v1, v2):
    for n1, n2 in zip(a,b):
        c.append(n1*n2)
    for i in range(len(c)):
        for j in range(i+1, len(c)):
            output = c[i]+c[j]
    return output

dot1(a,b)

48

In [21]:
dot1(a,b)

48

In [25]:
list(zip(a,b))

[(2, 3), (6, 7)]

In [156]:
def dotfunction(a,b):    
    total = 0
    for i,n in zip(a,b): 
        dot = i*n        
        total = total + dot 
    return total

a=[2,6]
b=[3,7]
dotfunction(a, b)

48

# Cross product

In [173]:
def cp(a,b):
    try:
        x1=a[0][0]*b[0][1]-a[0][1]*b[0][0]
        x2=a[1][0]*b[1][1]-a[1][1]*b[1][0]
    except:
        pass
    return np.array([x1, x2])
a=([[1,2], [3,4]])
b=([[2,2], [4,3]])
cp(a,b)

array([-2, -7])

Question: In a markdown section in your notebook, explain what one hot encoding is and why we use it. Then, manually calculate a one hot encoding for the Belize_Airbnb_listings.csv neighborhood_group column. Note: manually means don’t use scikitlearn or keras.

Answer: Splitting of categorical data in a column to many columns. Each splitted column contains '0' or '1' with respect to categorical value.

In [142]:
import pandas as pd
belize_listings_path = "belize_airbnb_listings.csv"
df = pd.read_csv(belize_listings_path)
#neighbourhood_group column is assigned to ng_list
ng_list = df['neighbourhood_group']
#unique values assigned to a variable to get the data and make them as columns.
ng_unique_list = df['neighbourhood_group'].unique()
#Found lenth to create a dataframe using shape. 
ng_len = len(ng_list)
ng_list

0            Belize
1            Belize
2            Belize
3       Stann Creek
4            Belize
           ...
2791         Belize
2792        Corozal
2793         Belize
2794         Belize
2795           Cayo
Name: neighbourhood_group, Length: 2796, dtype: object

In [152]:
#created a empty dataframe with all the data as 0.0. And used length of ng_list for rows, ng_unique_list length for columns
new_df = pd.DataFrame(np.zeros((len(ng_list), (len(ng_unique_list)))))
#renamed columned names
new_df.rename(columns={0:'Belize', 1:'Stann Creek', 2:'Toledo',
                      3:'Cayo', 4:'Corozal', 5:'Orange Walk'}, inplace=True)
#For each index , value in ng_list
for i, val in enumerate(ng_list):
    #Ex: if index[0]==belize, enter the loop
    if ng_list[i]=='Belize':
        #make changes in 'new_df' dataframe with index as row and 'Belieze', assign to value 1
        new_df.loc[i, 'Belize']=1
    elif ng_list[i]=='Stann Creek':
        new_df.loc[i,'Stann Creek']=1
    elif ng_list[i]=='Toledo':
        new_df.loc[i, 'Toledo']=1
    elif ng_list[i]=='Cayo':
        new_df.loc[i, 'Cayo']=1
    elif ng_list[i]=='Corozal':
        new_df.loc[i, 'Corozal']=1
    else: 
        ng_list[i]=='Orange Walk'
        new_df.loc[i, 'Orange Walk']=1

new_df

      Belize  Stann Creek  Toledo  Cayo  Corozal  Orange Walk
0        1.0          0.0     0.0   0.0      0.0          0.0
1        1.0          0.0     0.0   0.0      0.0          0.0
2        1.0          0.0     0.0   0.0      0.0          0.0
3        0.0          1.0     0.0   0.0      0.0          0.0
4        1.0          0.0     0.0   0.0      0.0          0.0
...      ...          ...     ...   ...      ...          ...
2791     1.0          0.0     0.0   0.0      0.0          0.0
2792     0.0          0.0     0.0   0.0      1.0          0.0
2793     1.0          0.0     0.0   0.0      0.0          0.0
2794     1.0          0.0     0.0   0.0      0.0          0.0
2795     0.0          0.0     0.0   1.0      0.0          0.0

[2796 rows x 6 columns]