In [2]:
import numpy as np
import pandas as pd

# modules for statistics
import math
import statistics
from scipy import stats
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.0,5,225

# Arithmetic mean

Arithmetic mean is sum of all the values observed divided by total number of observations

In [4]:
from numpy import mean
Amean = mean(belize_df["price"])
Amean

357.1022889842632

# Geometric Mean

we multiply all the observations in the sample and then take the nth root of the product.
It specifies the central tendency of a set of numbers by using the multiply of their values.

In [8]:
from scipy.stats import gmean
GM = gmean(belize_df["price"])
GM

234.7347175108817

# Harmonic Mean

Calculated as the number of values, divided by the sum of the reciprocal of the values.

In [9]:
from scipy.stats import hmean
HM = hmean(belize_df["price"])
HM

170.99338501026463