In [1]:
#Make a function that can take any 
#non-negative integer as an argument and return it with 
#its digits in descending order. Essentially, 
#rearrange the digits to create the highest possible 
#number. If no number is passed in, 
#make the default value inputted = 111111.

In [4]:
n=12345
n=str(n)
digitlist =[]
for element in n:
    digitlist.append(element)
digitlist.sort(reverse=True)
digitlist

['5', '4', '3', '2', '1']

In [11]:
def sort_number(n):
    if n=="":
        return 1111111
    elif n>0:
        n= str(n)
        digitlist = []
        for element in n:
            digitlist.append(element)
        digitlist.sort(reverse=True)
        joined = ''.join(digitlist)
        return joined

In [12]:
sort_number(123456)

'654321'

# 2. Import jeopardy.csv and create a dataframe from the data. Find out the following:
a. How many rows are there in the dataframe? What does a row represent?
b. How many unique shows were there each year?
c. Think of another question that this data might help answer. Make that question a
header in your notebook.
d. Answer your question and show the steps you used to do so clearly.

In [52]:
import numpy as np
import pandas as pd
file_to_load = "JEOPARDY_CSV.csv"
jeopardy_df = pd.read_csv(file_to_load)
jeopardy_df.head(2)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe

In [47]:
#b. How many unique shows were there each year?
#grouped_year = jeopardy_df.groupby(Air Date)
jeopardy_df["Show Number"].unique()

array([4680, 5957, 3751, ..., 5070, 5195, 4999])

In [48]:
#a
index = jeopardy_df.index
no_of_rows = len(index)
no_of_rows 
# row represents an instance

216930